body {
  text-align: left;
  font-family: "courier";
  color: black;
}

#container {
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
}

#container h1 {
  font-size: 20px;
}

#cabecera {
  background-color: blue;
  color: wheat;
  margin: 0;
  padding: 0.5em;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.75);
}

#post {
  padding: 1em;
}
